@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



/* globals.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 900px; /* Adjust width as needed */
  margin: 0 auto;
  padding: 0 20px; /* Add some padding on smaller screens */
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
