.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px 20px;
    font-size: 0.9rem;
    text-align: center;
  }
  
  .footerLeft img {
    max-width: 120px;
  }
  
  .footerCenter {
    flex-grow: 1;
    text-align: center;
    color: #6e6e6e;
  }
  
  .footerRight a {
    text-decoration: none;
    color: #0070f3;;
    display: flex;
    text-align: center;
    gap: 5px;
  }
  
  .footerRight a:hover {
    color: #4a99f4;
  }

  .githubIcon {
    transition: color 0.3s ease;
  }