.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 15px 30px;
  }
  
  .logo {
    font-size: 1.7rem;
    font-weight: bold;
    color: #232d4b;
    font-family:"Open Sans", "Helvetica Neue", Helvetica;
  }
  
  .navLinks {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 1.1rem;
  }
  
  .navLinks a {
    text-decoration: none;
    font-weight: bold;
    color: #232d4b;
  }
  
  .navLinks a:hover {
    color: #0070f3;
  }
  