.peopleSection {
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #5a5a5a;
  text-align: left;
}

.subtitle {
  font-size: 1.0rem;
  color: #6e6e6e;
  margin-bottom: 30px;
}

.section {
  margin-bottom: 40px;
}

.sectionTitle {
  font-size: 1.3rem;
  color: #5a5a5a;
  margin-bottom: 20px;
  text-align: left;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.imageContainer {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px auto ;
  overflow: hidden;
  border-radius: 10px;
}

.image {
  object-fit: cover;
}

.name {
  font-size: 1.3rem;
  margin: 5px 0;
  color: #686868;
}

.role {
  font-size: 1rem;
  color: #5c5c5c;
}


.separator {
  height: 2px;
  background-color: #c9c9c9;
  margin: 40px auto; /* Centers the separator horizontally */
  border-radius: 2px;
  width: 80%; /* Controls the separator width */
  opacity: 0.5;
}