.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 1.2rem;
    color: #4d4d4d
  }
  
  .navLinks {
    display: flex;
    list-style: none;
    gap: 15px;
    font-size: 0.9rem;
  }
  
  .navLinks a {
    text-decoration: none;
    color: #686868;
  }
  
  .navLinks a:hover {
    color: #0070f3;
  }
  